body {
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.login-container {
  width: 300px;
  padding: 30px;
  margin: 10% auto;
  border: 1px solid #9E9E9E;
  font-family: "Arial", sans-serif;
  background-color: #F5F5F5;
  border-radius: 3px;
}

.login-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  color: #424242;
}

.login__notice {
  width: 100%;
  text-align: center;
  line-height: 30px;
  background-color: #EF5350;
  color: #ffffff; 
  margin-bottom: 20px;
}

.login__label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #2196F3;
}

.login__input {
  width: 92%;
  height: 40px;
  font-size: 22px;
  margin-bottom: 15px;
  padding: 0 10px;
}

.login__submit {
  width: 100%;
  height: 40px;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  background: #424242;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.login__submit:hover {
  box-shadow: 0 0 5px #000000;
}


.login__link {
  display: block;
  text-align: center;
  color:#424242;
}

/*------------------------------------*/

.cp-wrapper {
  font-family: "Tahoma", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  min-width: 945px;
  margin: 30px auto;
  padding: 0 10px;
}

.cp-top-info-block {
  display:flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
  height: 40px;
  border: 1px solid #03A9F4;
  background-color: #f5f5f5; 
}

.auth-user, .ip-user, .logout, .get-site {
  display: block;
  line-height: 40px;
}

.logout, .get-site {
  padding: 0 10px;
}

.logout:hover, .get-site:hover {
  background: #03A9F4;
}


.cp-manage-panel {
  width: 78%;
  background-color: #F5F5F5;
  padding: 0 20px 20px; 
  position: relative;
  border: 1px solid #03A9F4;
}

.cp-add-post-btn {
  display: block;
  position: absolute;
  padding: 10px;
  border: 1px solid #4FC3F7;
  color: #4FC3F7;
  font-size: 14px;
  right: 22px;
  top: 15px;
}

.cp-add-post-btn:hover {
  background-color: #4FC3F7;
  color: #ffffff;
}

.cp-main-menu {
  border: 1px solid #03A9F4;
  width: 17%;
  background-color: #F5F5F5;
}

/*.cp-main-menu-list {
}

.cp-main-menu__item{
}*/

.cp-main-menu__link {
  display: block;
  padding: 10px 20px;
  background-color: #4FC3F7;
  border-bottom: 1px solid #000000;
  transition: 0.2s all ease;
}
.cp-main-menu__link:hover {
  background-color: #e5e5e5; 
}

.cp-post-list {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 400;
}

.cp-post-list tr {
  background-color: #81D4FA;
}

.cp-post-list tr:nth-child(2n) {
  background-color: #EEEEEE;
}

.cp-post-list tr td {
  padding: 5px 5px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.cp-post-list tr:first-child {
  font-weight: 700;
}

.cp-add-post{
  width: 50%;
  margin: 0 auto;
}

.add-post-title {
  text-align: center;
}

.add-post-label {
  display: block;
  font-size: 14px;
}

.add-post-input {
  width: 100%;
  height: 25px;
  font-size: 18px;
  padding: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #DADADA;
  border-radius: 2px;
  
}

.add-post-textarea{
  width: 100%;
  max-width: 100%;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #DADADA;
  margin-bottom: 10px;
}

.public-post-btn{
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #4FC3F7;
  color: #4FC3F7;
  cursor: pointer;
}

.public-post-btn:hover {
  background-color: #4FC3F7;
  color: #ffffff;
}

.public-post-btn::first-letter {
  text-transform: uppercase;
}